@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300&display=swap');
 

*{
     box-sizing: border-box;

 }

 body{
     background-color: slategray;
     display: flex;
     flex-direction: column;
     color: white;
     align-items: center;
     justify-content: center;
     height: 100vh;
     font-family: 'Big Shoulders Display', cursive;
     margin: 0;
    }
    
   
     .legend {
         background-color: rgb(red, green, blue);
         padding: 5px 10px;
         border-radius: 5px;
         color:lightgray;
         list-style-type: none;
         display: flex;
justify-content: space-between ;
width:100%;
     }

     .legend li{

           display: flex;
           align-items: center;
           justify-content: center;
           margin: 0 10px;

     }


 .img1 {
    width: 33%;
    height: 100%;
 }

 /* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
    width:100%;
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }


  .container {
    margin: 30px auto;
    width: 350px;
  }

  .btn {
    cursor: pointer;
    background-color: green;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
  }

  label {
    display: inline-block;
    margin: 10px 0;
  }
  
  input[type='text'],
  input[type='file'],
  input[type='number'] {
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }

  .btnCancel {
    cursor: pointer;
    background-color: red;
    box-shadow: var(--box-shadow);
    color: #fff;
    border: 0;
    display: block;
    font-size: 16px;
    margin: 10px 0 30px;
    padding: 10px;
    width: 100%;
  }